<section class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body p-4">
          <h3 class="mb-4">Details</h3>

          <div class="row mt-2">
            <div class="col-12 d-flex align-items-center justify-content-start gap-3">
              <i *ngIf="facility?.isVisible" class="fa-solid fa-eye fa-lg"></i>
              <i *ngIf="!facility?.isVisible" class="fa-solid fa-eye-slash fa-lg"></i>
              <p class="mb-0 small"> {{ facility?.isVisible ? 'Visible to public' : 'Not visible to public' }}</p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12 d-flex align-items-center justify-content-start gap-3">
              <i *ngIf="facility?.passesRequired" class="fa-solid fa-ticket fa-lg"></i>
              <i *ngIf="!facility?.passesRequired" class="fa-solid fa-person-running fa-lg ps-1 pe-1"></i>
              <p class="mb-0 small"> {{ facility?.passesRequired ? 'Passes required' : 'Passes not required' }}</p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 d-flex align-items-start justify-content-start gap-3">
              <p class="small fw-bold">Description:</p>
              <p class="small">{{ facility?.description || 'No description provided.' }}</p>
            </div>
          </div>

          <p class="small fw-bold">Agreements:</p>
          <div class="row mt-2">
            <div class="col-12 d-flex align-items-start gap-3">
              <div class="card border border-info mb-4 w-100">
                <div class="card-body p-4">
                  <div *ngIf="facility?.agreements; else noAgreements" class="small" style="user-select: all" [innerHTML]="safeAgreements"></div>
                  <ng-template #noAgreements><p class="small mb-0">No agreements provided.</p></ng-template>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2" *appPermissionRequired="'superadmin'">
            <div class="col-12 d-flex align-items-start justify-content-start gap-3">
              <p class="small fw-bold">Admin&nbsp;notes:</p>
              <p class="small">{{ facility?.adminNotes || 'No admin notes provided.' }}</p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12 d-flex align-items-start justify-content-start gap-3">
              <p class="small fw-bold">Search&nbsp;terms:</p>
              <p class="small">{{ facility?.searchTerms || 'No search terms provided.' }}</p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12 d-flex align-items-start justify-content-start gap-3">
              <p class="small fw-bold">Created on:</p>
              <p class="small">{{ facility?.creationDate | date:'yyyy-LL-dd, h:mma' }}
            </div>
          </div>

          <hr>
          <h3>Activities</h3>
          <div class="col-md-6 mt-3">
            <!-- Loading state -->
            <div *ngIf="loadingRelationships" class="text-center my-3">
              <i class="fa fa-spinner fa-spin me-2"></i>
              Loading related facilities...
            </div>

            <!-- Empty state -->
            <div *ngIf="!loadingRelationships && relatedActivities.length === 0" class="alert alert-primary small p-2 rounded-1 text-primary">
              <i class="fa-solid fa-circle-exclamation m-2"></i>
                There is no activity associated with this facility.
            </div>

            <!-- Activities list -->
            <div class="mb-2">
              <div class="row">
                <div class="col">
                  <app-activity-list-item 
                    *ngFor="let activity of relatedActivities"
                    [activity]="activity"
                  >
                  </app-activity-list-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body p-4">
          <h3 class="mb-4">Geospatial details</h3>
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-4">Details</h4>

              <div class="row mt-2">
                <div class="col-12 col-lg-6 d-flex align-items-start justify-content-start gap-3">
                  <p class="small fw-bold">Location:</p>
                  <p class="small overflow-auto">{{ facility?.location.coordinates?.[0] }}, {{ facility?.location.coordinates?.[1] }}</p>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12 col-lg-6 d-flex align-items-start justify-content-start gap-3">
                  <p class="small fw-bold">Zoom:</p>
                  <p class="small">{{ facility?.minMapZoom }}, {{ facility?.maxMapZoom }}</p>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12 col-lg-6 d-flex align-items-start justify-content-start gap-3">
                  <p class="small fw-bold">Envelope:</p>
                  <p class="small">{{ facility?.envelope || 'No envelope provided.' }}</p>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12 col-lg-6 d-flex align-items-start justify-content-start gap-3">
                  <p class="small fw-bold">Timezone:</p>
                  <p class="small overflow-auto">{{ facility?.timezone || 'No timezone provided.' }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="mb-3">Map</h4>
              <div class="border rounded-5 overflow-hidden" [style.height]="'400px'">
                <app-map #mapComponent [_markers]="_markers"></app-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />

<ng-template #typeBadge let-type="type" let-isSubtype="isSubtype">
  <div class="badge d-flex align-items-center rounded-pill px-2" [class.bg-secondary]="!isSubtype"
    [class.bg-info]="isSubtype" [class.text-dark]="isSubtype">
    <span>{{type?.display}}</span>
  </div>
</ng-template>
